<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <!-- These are only used for debugging/finding your device Ids -->
    <add key="VendorId" value="3554" />
    <add key="ProductIdWireless" value="F55D" />
    <add key="ProductIdWireless" value="F5D5" />
    <!--<add key="ProductIdWired" value="F55E" />-->
    <!-- === -->

    <add key="DeviceName" value="Redragon M918 Pro" />
    <add key="DeviceStringWired" value="\\?\hid#vid_3554&amp;pid_f55e&amp;mi_01&amp;col05#a&amp;1fefac06&amp;0&amp;0004#{4d1e55b2-f16f-11cf-88cb-001111000030}" />
    <add key="DeviceStringWireless" value="\\?\hid#vid_3554&amp;pid_f55d&amp;mi_01&amp;col05#b&amp;3819d31c&amp;0&amp;0004#{4d1e55b2-f16f-11cf-88cb-001111000030}" />
    <!--<add key="DeviceStringWireless" value="\\?\hid#vid_3554&amp;pid_f5d5&amp;mi_01&amp;col05#a&amp;1f10428f&amp;0&amp;0004#{4d1e55b2-f16f-11cf-88cb-001111000030}" />-->
  </appSettings>
</configuration>